@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Home-Page */
.home-page {
  height: 100vh;
  background-image: url(../assets/images/back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7rem 1rem;
}

.nav-left {
  width: 250px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.nav-right img {
  width: 20px;
}

.nav-right select {
  background: none;
  border: none;
  cursor: pointer;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h1 {
  font-family: "PT Serif", serif;
  font-size: 5.5rem;
  line-height: 3rem;
}

.hero button {
  background: none;
  border: none;
  border-radius: 50px;
  padding: 15px 40px;
  margin: 20px;
  color: #fff;
  background-color: #0F866C;
}

.hero button span {
  padding-left: 5px;
}

.hero p {
  line-height: 2rem;
  font-size: 12px;
}

.person-img {
  width: 400px;
  margin-top: 2rem;
}

/* Why Express */
.why-express {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.why-express section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 7rem;
}


.why-express section .why-express-left,
.why-express section .why-express-right {
  padding: 3rem 0;
}

.why-express section .text {
  width: 380px;
}

.why-express section .text .btn {
  background: none;
  border: none;
  border-radius: 50px;
  padding: 15px 40px;
  color: #fff;
  background-color: #0F866C;
}

.why-express section .text h2 {
  font-family: "PT Serif", serif;
  font-size: 2rem;
}

.why-express section .text p {
  padding: 25px 0;
  font-size: 12px;
  line-height: 1.4rem;
}

.why-express section .image {
  width: 340px;
}

.why-express section ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.why-express section ul li img {
  width: 40px;
}

.why-express section a {
  line-height: 2rem;
  color: #0F866C;
  border-bottom: 3px solid #0F866C;
}

.why-express section .why-express-right div {
  margin-top: 2rem;
}

/* Advantages */
.advantages {
  margin: 5rem auto;
}

.advantages .advantages-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
}

.advantages .advantages-top .advantage-box img {
  width: 300px;
}

.advantages .advantages-top .advantage-box {
  width: 320px;
}

.advantages .advantages-top .advantage-box h2 {
  font-family: "PT Serif", serif;
  font-size: 20px;
  padding: 0 52px;
}

.advantages .advantages-top .advantage-box p {
  font-size: 13px;
  margin-top: 10px;
  line-height: 1.5rem;
  padding: 0 20px;
}

.advantages .advantages-bottom {
  text-align: center;
  margin: 5rem;
}

.advantages .advantages-bottom a {
  border-bottom: 3px solid #0F866C;
  color: #0F866C;
}

/* Map */
.map {
  background-color: #FDF3F4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.map .map-title h2 {
  font-family: "PT Serif", serif;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.map .img-locations {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.map .img-locations .locations ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
}

.map .img-locations .locations ul li h2 {
  font-size: 3.5rem;
  font-family: "PT Serif", serif;
}

.map .img-locations .locations ul li p {
  font-family: "PT Serif", serif;
  width: 100px;
}

.map .vpn-list {
  margin-top: 4rem;
}

.map .vpn-list a {
  border-bottom: 3px solid #0F866C;
  color: #0F866C;
}

@media screen and (min-width: 576px) {}